@{
    var displayTime = UserTimeZone is not null
        ? TimeZoneInfo.ConvertTime(Value, UserTimeZone)
        : Value;
}
<span>@displayTime.ToString(Format)</span>

@code {
    [Parameter, EditorRequired]
    public DateTimeOffset Value { get; set; }

    [Parameter]
    public string Format { get; set; } = "MMM d, yyyy h:mm tt";

    [CascadingParameter]
    public TimeZoneInfo? UserTimeZone { get; set; }
}
